<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{statisticsTitle.message}">Estadisticas</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-4">
		<h2 th:text="#{statisticsTitle.message}"></h2>

		<!-- Tabla de Usuarios -->
		<table class="table table-bordered">
			<tr>
				<td th:text="#{numUsers.message}"></td>
				<td th:text="${usuarios.size()}"></td>
			</tr>
			<tr>
				<td th:text="#{numAdminUsers.message}"></td>
				<td th:text="${usuariosAdmin.size()}"></td>
			</tr>
			<tr>
				<td th:text="#{numUserUsers.message}"></td>
				<td th:text="${usuariosUser.size()}"></td>
			</tr>
			<tr>
				<td th:text="#{numComments.message}"></td>
				<td th:text="${comentarios.size()}"></td>
			</tr>
		</table>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
